<div #test class="project-details-component-container" *ngIf="project">

  <div class="title-container">
    <p class="title">{{ project.title }}</p>

    <div class="tech-icons-container">
      <mat-icon class="medium-icon" *ngFor="let tech of project.techs"
                [svgIcon]="tech.iconId!!"
                [matTooltip]="tech.name">

      </mat-icon>
    </div>
  </div>

  <mat-divider style="margin: 16px 0"></mat-divider>

  <p class="project-description">{{ project.description }}</p>

  <ng-container *ngIf="project.links && project.links.length">
    <p class="headline-small">References</p>

    <a *ngFor="let link of project.links" [href]="link.url" [matTooltip]="link.icon.name" target="_blank">
      <mat-icon class="medium-icon" [svgIcon]="link.icon.iconId!!"></mat-icon>
    </a>

  </ng-container>

  <ng-container *ngIf="project.features && project.features.length">
    <p class="headline-small">Features</p>
    <ul>
      <li *ngFor="let feature of project.features">{{ feature }}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="project.technical && project.technical.length">
    <p class="headline-small">Technical Overview</p>
    <ul>
      <li *ngFor="let technicalFeature of project.technical">{{ technicalFeature }}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="project.imageUrls && project.imageUrls.length">
    <p class="headline-small">Screenshots</p>
    <swiper class="image-carousel-container" [config]="swiperConfig">
      <ng-container *ngFor="let imageUrl of project.imageUrls">
        <ng-template swiperSlide><img class="image" [src]="imageUrl?.url" [alt]="imageUrl?.name"
                                      [title]="imageUrl?.name"></ng-template>
      </ng-container>
    </swiper>
  </ng-container>

</div>
