@use "helpers";

:host {
  @include helpers.module-page();
}

.resume-page-component-container {
  text-align: center;
}

.under-construction-container {
  p {
    font: var(--mat-sys-headline-medium);
    margin: 0 0 16px;
  }

}
