@use '~@angular/material/index' as mat;
@use 'custom-color-palettes' as custom-color-palettes;
@use 'typography' as custom-typograhy;
@use 'sass:map';

// Custom color collection. Ref: https://stackoverflow.com/a/58165951
$light-theme-custom-color-collection: (
  win-or-draw : #4caf50,
  contrast: (
    win-or-draw : #000000,
  )
);

// Custom color palette.
$light-theme-custom-palette: mat.define-palette($light-theme-custom-color-collection, custom);

// Primary palette.
$light-theme-primary: mat.define-palette(custom-color-palettes.$mat-deep-orange-500);

// Accent palette.
$light-theme-accent: mat.define-palette(custom-color-palettes.$mat-indigo-blue-200);

// Create the light theme.
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-theme-primary,
    accent: $light-theme-accent
  ),
  typography: custom-typograhy.$typography-config
));

// Add custom color collection to the light theme.
$color-config: mat.get-color-config($light-theme, color);
$color-config: map.merge($color-config, (custom: $light-theme-custom-palette));

$light-theme: map.merge($light-theme, (color: $color-config));
