<a [routerLink]="project.routeParam" routerLinkActive="active"
   [routerLinkActiveOptions]="{exact: true}"
   *ngIf="project"
   (click)="$event.preventDefault()">

  <mat-card appearance="raised" class="project-card-component-container">

    <p class="title">{{ project.title }}</p>

    <div class="image-container">
      <img *ngIf="project.stockImageUrl" class="image"
           [src]="project.stockImageUrl.url"
           [alt]="project.title">
    </div>

    <div class="icon-container">
      <div *ngFor="let tech of project.techs">
        <mat-icon class="medium-icon" [svgIcon]="tech.iconId!!" [matTooltip]="tech.name"></mat-icon>
      </div>
    </div>

  </mat-card>
</a>
