@use '@angular/material' as mat;
@use 'node_modules/swiper/swiper-bundle.css';

html, body {
  width: 100%;
  height: 100%;
  position: fixed;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--mat-sys-body-medium-font);
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.page-container {
  height: 100%;
  width: 100%;
}

.mat-icon {
  &.medium-icon {
    $size: 42px;

    width: $size;
    height: $size;
    font-size: $size;
    line-height: 100%;
    margin: 0 4px;
    border-radius: 8px;
    padding: 2px;
  }
}

.swiper-pagination-bullet-active {
  background: var(--mat-sys-primary);
}

.swiper-pagination {
  padding: 8px;
}
