<!--<div class="image-carousel-component-container">-->

<!--  <div class="nav-container">-->
<!--    <button mat-icon-button (click)="prev()"><mat-icon>arrow_back</mat-icon></button>-->
<!--    <button mat-icon-button (click)="next()"><mat-icon>arrow_forward</mat-icon></button>-->
<!--  </div>-->


<!--  <div class="image-container">-->
<!--    <img class="image" [src]="imageUrls[selectedIndex]" [alt]="'Alt'">-->
<!--  </div>-->

<!--  <div class="nav-container">-->
<!--    <button mat-icon-button (click)="prev()"><mat-icon>arrow_back</mat-icon></button>-->
<!--    <button mat-icon-button (click)="next()"><mat-icon>arrow_forward</mat-icon></button>-->
<!--  </div>-->

<!--</div>-->
