<div class="app-component-container page-container">
  <app-basic-toolbar class="sticky-toolbar">
    <button class="sidenav-hamburger" mat-icon-button appLoseFocusAfterClick (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </button>
    <span style="margin: 8px">{{ title }}</span>
    <span class="toolbar-spacer"></span>
  </app-basic-toolbar>

  <mat-drawer-container class="sidenav-container">
    <mat-drawer #drawer class="sidenav" [autoFocus]="false">

      <div class="sidenav-inner-container">

        <div class="sidenav-items-container">

          <ul>
            <li [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active-nav']">
              <a [routerLink]="navRoutes.home">
                <mat-icon>home</mat-icon>
                <span>Home</span>
              </a>
            </li>

            <li [routerLinkActiveOptions]="{exact: false}" [routerLinkActive]="['active-nav']">
              <a [routerLink]="navRoutes.projects">
                <mat-icon>engineering</mat-icon>
                <span>Projects</span>
              </a>
            </li>

            <li [routerLinkActiveOptions]="{exact: false}" [routerLinkActive]="['active-nav']">
              <a [routerLink]="navRoutes.resume">
                <mat-icon>face</mat-icon>
                <span>Resume</span>
              </a>
            </li>

          </ul>

        </div>
      </div>

    </mat-drawer>

    <router-outlet></router-outlet>

  </mat-drawer-container>

</div>
