@use '~@angular/material/index' as mat;
@use 'sass:map';
@use 'app-component-theme';

@mixin all-custom-component-themes($theme) {
  @include app-component-theme.theme($theme);
}

@mixin all-custom-component-colors($theme) {
  $color-config: mat.get-color-config($theme);

  @include all-custom-component-themes((
    color: $color-config,
    typography: null,
    density: null,
  ))
}

